.mainContainer {
  height: 40px;
  width: 100px;
  padding: 4px;

  border: 1px solid var(--color-white);
  border-radius: 0.5rem;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
}
